RewriteEngine On
RewriteBase /

# Zorg dat zowel de route met als zonder .php werkt

RewriteRule ^login(\.php)?$ sso.php [L]
RewriteRule ^dashboard(\.php)?$ app/views/dashboard.php [L]
RewriteRule ^profile(\.php)?$ app/views/profile.php [L]
RewriteRule ^set-plot(\.php)?$ app/views/set-plot.php [L]
RewriteRule ^set-plot-overview(\.php)?$ app/views/set-plot-overview.php [L]
RewriteRule ^set-pref-overview(\.php)?$ app/views/set-pref-overview.php [L]
RewriteRule ^set-pref(\.php)?$ app/views/set-pref.php [L]
RewriteRule ^link-pref(\.php)?$ app/views/link-pref.php [L]
RewriteRule ^link-pref-overview(\.php)?$ app/views/link-pref-overview.php [L]
RewriteRule ^welcome(\.php)?$ app/views/landing-page.php [L]
RewriteRule ^flight-planning(\.php)?$ app/views/flight-planning/step1.php [L]
