RewriteEngine On
RewriteBase /

# Zorg dat zowel de route met als zonder .php werkt

RewriteRule ^login(\.php)?$ sso.php [L]
RewriteRule ^dashboard(\.php)?$ frontend/pages/dashboard.php [L]
RewriteRule ^profile(\.php)?$ frontend/pages/profile.php [L]
RewriteRule ^set-plot(\.php)?$ frontend/pages/set-plot.php [L]
RewriteRule ^set-plot-overview(\.php)?$ frontend/pages/set-plot-overview.php [L]
RewriteRule ^set-pref-overview(\.php)?$ frontend/pages/set-pref-overview.php [L]
RewriteRule ^set-pref(\.php)?$ frontend/pages/set-pref.php [L]
RewriteRule ^link-pref(\.php)?$ frontend/pages/link-pref.php [L]
RewriteRule ^link-pref-overview(\.php)?$ frontend/pages/link-pref-overview.php [L]
RewriteRule ^welcome(\.php)?$ frontend/pages/landing-page.php [L]
RewriteRule ^flight-planning(\.php)?$ frontend/pages/flight-planning-step1.php [L]
