.grid-container {
    display: grid; /* Use CSS Grid for the container */
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 1rem; /* Gap between items */
}
.grid-item {
    background-color: #D9D9D9;
    border-radius: 0.5rem; /* Rounded corners */
    padding: 1rem; /* Padding inside each item */
}
.min-text-size {
    font-size: clamp(0px, 1vw + 1vh, 24px);
}

/* Apply dynamic viewport height (dvh) for iOS */
@supports (--css: variables) {
  /* iOS Safari 14 and above support dynamic viewport height (dvh) */
  .responsive-height {
      min-height: 100svh !important;
  }
}
/* In your global CSS file */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}